@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v19-cyrillic_latin-regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
         url('../MyWebSite/fonts/roboto-v19-cyrillic_latin-regular.eot') format('embedded-opentype'),
         url('../MyWebSite/fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'),
         url('../MyWebSite/fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff'),
         url('../MyWebSite/fonts/roboto-v19-cyrillic_latin-regular.ttf') format('truetype'),
         url('../MyWebSite/fonts/roboto-v19-cyrillic_latin-regular.svg') format('svg');
  }

@font-face {
    font-family: "Just Another Hand";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/just-another-hand-v10-latin-regular.eot');
    src: local("Just Another Hand Regular"), local("JustAnotherHand-Regular"),
         url("../MyWebSite/fonts/just-another-hand-v10-latin-regular.eot") format('embedded-opentype'),
         url("../MyWebSite/fonts/just-another-hand-v10-latin-regular.woff2") format('woff2'),
         url('../MyWebSite/fonts/just-another-hand-v10-latin-regular.woff') format('woff'),
         url('../MyWebSite/fonts/just-another-hand-v10-latin-regular.ttf') format('truetype'),
         url('../MyWebSite/fonts/just-another-hand-v10-latin-regular.svg') format('svg');
}

  body,html{
    background-color:rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
}

header > span{
    font-family: "Just Another Hand";
    color: rgb(230, 236, 252);
    font-size: 250%;
    padding-left: 5%;
}

header > form{
    padding-right: 10%;
}

header{
    background-color: rgb(70, 70, 70);
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

input[type="search"]{
    font: 16px/1.6 Helvetica, sans-serif;
    color: rgb(110, 110, 110);
	padding: 4px 4px 4px 46px;
	width: 125%;
	border:solid 2px rgb(226, 226, 226);
	border-radius: 20px;
	background: url("../MyWebSite/img/icon-search.svg") no-repeat 12px 7px;
    background-color:rgb(255, 255, 255);
}

nav > ul > li{
    display: inline;
    margin-right: 5%;
    font-family: "Roboto";
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(61, 30, 148);
}

nav{
    background-color: rgb(255, 255, 255);
    padding: 1%
}

#posts{
    margin: 3% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    width: 250px;
    height: 300px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: no-repeat center center;
}

figure > img{
    width: 250px;
    height: 200px;
}

.post_article{
    font-family: "Roboto";
    font-weight: bolder;
    color: rgb(21, 23, 36);
    margin: 5%;
}

.post_info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(94, 94, 94);
    margin: 5%;
}

#nav_buttons{
    margin: 3% 1%;
    display: flex;
    justify-content: center;
}

.nav_but{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px rgb(117, 138, 139);
    background-color: #FFF;
}

footer{
    background-color: rgb(70, 70, 70);
    padding: 1.5%;
    display: inline;
}

.social_networks{
    width: 3%;
    height: 3%;
    margin-right: 1%;
    float: right;
    transition-property: width, height;
    transition-duration: 1s;
}

.social_networks:hover{
    width: 3.5%;
    height: 3.5%;
}

@media screen and (max-width: 590px){
    header{
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 3%
    }

    nav > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .social_networks{
        width: 10%;
        height: 10%;
        margin-right: 3%;
    }
}